/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   GENERAL
   ========================================================================== */
html, body {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
p{
  font-family: 'Roboto', sans-serif;
}

/* ==========================================================================
   HERO
   ========================================================================== */
.hero {
  text-align: center;
  position: relative;
  bottom: 60px;
  height: 100vh;
}

.logo {
  width: 340px;
  display: block;
  margin: 0 auto;

}

.hero h1 {
  color: #030303;
  font-size: 72px;
  font-weight: 700;
}
.hero p {
  color: #a0a0a0;
  font-size: 24px;
  position: relative;
  bottom: 40px
}
.cta{
  margin: 0 auto;
  display: inline-block;
  text-decoration:none;
  text-transform: uppercase;
  font-size: 14px;
  padding: 8px 15px;
  font-weight: 500;
  border-radius: 4px;
  position: relative;
  bottom: 20px;
  transition: all 0.3s;
  width: 130px;
  margin: 0 5px
}
.cta:hover{
  border: 2px solid #030303;
  transform: scale(1.1)
}
#cta-contatti{
  background-color: #a0a0a0;
  color: #fff;
  border: 2px solid #a0a0a0
}
#cta-contatti:hover{
  background-color: #030303;
  border: 2px solid #030303
}

#cta-linee{
  color: #a0a0a0;
  border: 2px solid #a0a0a0;
}


.divider{
  border: 1px solid #f7f7f7;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 80px
  
}

/* ==========================================================================
   LINEE DROPFEEL
   ========================================================================== */
   #linee-dropfeel{
     text-align: center;
     padding: 0 10px;
   }
   #linee-dropfeel span{
    color: #a0a0a0;
    font-size: 24px;
    text-align: center;
   }
   .box img{
     width: 280px;
     position: relative;
     top: 50px
   } 
   .box p{
     font-size: 18px
   }
   .box span {
     color: #a0a0a0;
     font-size: 16px !important;
     position: relative;
     bottom: 10px;
 
   }
   .divider-box{
    margin: 0 auto;
    width: 50px;
    position: relative;
    bottom: 5px
   }
   #diabetes-divider{
     border: 1px solid #80A1B5;
   }
   #oral-care-divider{
     border: 1px solid #D5D98D;
   }
   #pharma-divider{
     border: 1px solid #F08D30;
   }
   #aceitum-divider{
     border: 1px solid #368898;
   }

   @media(min-width:1200px){

    #linee-dropfeel {
      box-shadow: 0px 0px 100px 0px rgba(12,5,5,0.3);
      margin: 0 40px;
      padding: 40px 0 80px
    }
    .divider{
      display: none
    }
    #linee-dropfeel span{
      color: #a0a0a0;
      width: 70%;
      display: inline-block
     }

    .linee-dropfeel-container{
      display: flex;
      justify-content: space-evenly
    }
   }

   /* ==========================================================================
   FORM
   ========================================================================== */

.form-section{
  margin: 120px 0 120px
}
.form-section h2{
  text-align: center;
  font-size: 54px
}
.form-section p {
  color: #a0a0a0;
  text-align: center;
  position: relative;
  bottom: 30px
}
.form-container{
 text-align: center
}
.form-section input{
  font-size: 14px;
  padding: 5px;

}

input{
  border-top: none;
  border-left: none;
}
textarea{
  border-color: #eee;
  padding: 10px;
  font-size: 14px
}
.my-input {
  display: block;
  margin: 20px auto;
  width: 90%;
}
.checkbox-container{
  display: flex;
  justify-content: center
}
#checkbox-question{
  position: relative;
  top: 0px
}
.checkbox-container span{
  color: #a0a0a0;
  display: inline-block;
  margin-right: 15px
  
}
input[type='checkbox']{
   color: #a0a0a0;
   margin: 4px
}
#submit-button{
  background-color: #a0a0a0;
  color: #fff;
  width: 160px;
  padding: 10px 10px;
  border-radius: 4px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-top: 20px
}
#submit-button:hover{
  background-color: green;
  cursor: pointer
}
@media(min-width:1200px){
  .my-input {
    width: 40%;
  
  }
}
/* ==========================================================================
   CREDITS
   ========================================================================== */
   .credits a{
     color: #a0a0a0;
     text-decoration: none;
     text-align: right;
     font-size: 14px;
     margin: 20px;
     display: block
   }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: ' ';
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: ' (' attr(href) ')';
  }
  abbr[title]:after {
    content: ' (' attr(title) ')';
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^='#']:after,
  a[href^='javascript:']:after {
    content: '';
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
